* {
  margin: 0;
  padding: 0;
}

body {
}

.response {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: green;
  }
  .desktop {
    display: block;
  }
  .mobile,
  .laptop,
  .tablet {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background-color: violet;
  }
  .laptop {
    display: block;
  }
  .mobile,
  .tablet,
  .desktop {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: red;
  }
  .tablet {
    display: block;
  }
  .mobile,
  .laptop,
  .desktop {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  body {
    background-color: blue;
  }
  .mobile {
    display: block;
  }
  .tablet,
  .laptop,
  .desktop {
    display: none;
  }
}
